.submit_and_menu {
  display: flex;
  gap: 16px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu_button {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 8px;
  height: 24px;
  font-size: 24px;
  text-align: center;
  align-items: center;
  background: none;
  border: none;
}

.menu_button:hover {
  cursor: pointer;
  color: green;
}

#menuDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background-color: #119893;
  width: 250px;
  height: 400px;
  overflow: scroll;
  text-align: center;
}

.input_space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.input_space button{
  width: 170px;
  padding: 4px 4px;
  border-radius: 8px;
  font-size: 16px;
  background: #d2d2d2;
}

.input_space button:hover {
  cursor: pointer;
  font-weight: 550;
}

.input_space label{
  font-size: 20px;
  font-weight: 550;
}

#menuDialog span {
  font-size: 24px;
  font-weight: 550;
  color: #00ff51;
}

.input_space input {
  width: 150px;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 16px;
}